<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1>Cookbook</h1>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/auth">Auth</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown">
            Manage
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchRecipes()">Fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
